<h1>Search Result</h1>

<h2>Target Image</h2>

<center>
  <img src=<%= @target %>>
</center>

<h2>Search Result</h2>
<center>
  <% @urls.each_with_index do |url, index|%>
    <h2>
      <%= index+1 %>
      <%= image_tag(url, :alt => "", id: 'home-image', class: 'cover-img') %>
    </h2>
  <% end %>
</center>





<%# @homes.each do |home| %>
  <%#= link_to(image_tag("#{home.cate}/#{home.images.first.name}", :alt => "", id: 'home-image', class: 'cover-img'), home_path(home.id)) %>
<%# end %>
