<div>
  <%= image_tag("#{@image.home.cate}/#{@image.name}", id: 'image', class: 'target-img', name: "#{@image.home.cate}/#{@image.name}") %>
</div>

<button id='crop-btn' class='btn btn-primary'>Crop & Search</button>

<script type="text/javascript">
  $(function() {
    var $image = $('#image');

    $image.cropper({});

     // Get the Cropper.js instance after initialized
    $('#crop-btn').click(function(event) {
      var cropper = $image.data('cropper');
      var data = cropper.getData();

      // image crop data
      params = {'x': data.x, 'y': data.y, 'width': data.width, 'height': data.height, img: $('#image').attr('name')};

      $.post('/images-search', {info: params}, function(data, textStatus, xhr) {
        window.location.href = "/show-search";
      });
    });
  });
</script>
